{% extends 'base.html.twig' %}
{% block title %}Login - {% endblock %}

{% block body %}
<div class="container">
  <h1 class="center-align">Tuduu</h1>
  <div class="row">
    <div class="col s12 m6 offset-m3 l6 offset-l3">
      <div class="card-panel hoverable">
        <h4 class="center-align">Login</h4>
        <div class="row">
          <form action="" class="col s12">
            <div class="row">
              <div class="input-field col s12">
                <input id="input-email" type="email" autofocus />
                <label for="input-email">Email</label>
              </div>
              <div class="input-field col s12">
                <input id="input-password" type="password" />
                <label for="input-password">Password</label>
              </div>
              <div class="input-field col s12">
                <a href="{{path('users.forgot_password')}}">Forgot password?</a>
                <p>Don't have an account? <a href="{{path('users.register')}}">Register here</a></p>
              </div>
            </div>
            <button
              class="btn waves-effect waves-light"
              type="submit"
              name="action"
              style="width: 100%;"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}